<form action="{{ path('category.delete', {id: category.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cette categorie ?')">
	<input type="hidden" name="token" value="{{ csrf_token('delete' ~ category.id) }}">
	<button type="submit" class="btn btn-danger">Supprimer</button>
</form>
